{{template "base.tmpl"}}
{{define "css"}}
    <link rel="stylesheet" href="/static/resource/css/index.css">
{{end}}
{{define "body"}}
    <div class="d-flex flex-column" style="height: 100vh">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container">
                <a class="navbar-brand p-0 m-0" href="/"><img src="/static/resource/image/OIP-C.png" alt=""
                                                              width="32px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item text-light" href="#">Action</a></li>
                                <li><a class="dropdown-item text-light" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider text-light">
                                </li>
                                <li><a class="dropdown-item text-light" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-light me-2" type="submit">Search</button>
                    </form>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light px-0" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill"></i>
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item text-light" href="#">用户中心</a></li>
                            <li><a class="dropdown-item text-light" href="#">注销</a></li>
                            <li>
                                <hr class="dropdown-divider text-light">
                            </li>
                            <li><a class="dropdown-item text-light" href="#">关于我们</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </nav>
        {{block "main" .}}
            <div class="container" style="flex-grow: 1;">
                <h1>main</h1>
            </div>
        {{end}}
        <nav class="navbar navbar-light bg-light" style="height: 120px;position: sticky;">
            <div class="container">
                <a class="navbar-brand" href="#">Fixed bottom</a>
            </div>
        </nav>
    </div>
{{end}}

